*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ededee;
}
form{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h5{
    margin-bottom: 20px;
    color: #1877f2;
}
h6 img{
    display: block;
    width: 20px;
    height: 20px;
    margin: auto;
}
h6{
    text-align: center;
}
h5 img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button{
    width: 100%;
    padding: 10px;
    background-color: #407cd5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: #165cbb;
}
.btn{
    background-color: #fff;
    color: #1877f2;
    border: 1px solid #1877f2;
}
.btn:hover{
    background-color: #e7e9ed;
}
h4{
    margin-top: 10px;
    font-size: smaller;
    text-align: center;
}
h4 a{
    color: #10161f;
    text-decoration: none;
}
h4 a:hover{
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);
}
button:last-child{
    color: #1877f2;
    border-color: #165cbb;
    background-color: #e7f3ff;
    margin-top: 10px;
}
button:last-child:hover{
    background-color: #e7edf2;
}
@media screen and (min-width: 1280px){
    form{
        width: 500px;
    }
}